body {
  background-color: #ffead0;
  user-select: none;
}
.grd {
  margin-left: 450px;
  margin-top: 60px;
}
.grd .grid{
    margin-left:40px;
}
.row {
  display: flex;
}
.container {
  display: flex;
}
.title{
    margin-right: 400px;
    font-size:30px;
}