.overlay {
  font-family: "Indie Flower", cursive;
  margin-top: 150px;
  font-size: 31px;
  margin-right: 5px;
}
.title {
  color:#EF3054;
  font-family: "Playwrite CU", cursive;
  margin-left: 80px;
  font-size: 39px;
  margin-bottom:10px;
}