body{
    background-color: #20A4F3;
}
.startgame {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #20A4F3;
  font-size: 50px;
  user-select: none;
  margin-left:35px;
  margin-right:100px;
}
.title {
  margin-top: 240px;
  font-family:"Bona Nova SC";
  color:#666A86;
}
.container{
    display:flex;
    background-color: #20A4F3;
}
.instruction{
    margin-left:20px;
    margin-top:200px;
    font-size:40px;
    color:#2B2D42;
}
.startbutton {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #8C7051;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.startbutton:hover {
  background-color: darkgray;
}
